
.card {
border-radius: 10px;
background: #f8f9fa;
}

/* Add hover effect on rows */
table tbody tr:hover {
background-color: #f1f1f1 !important;
}

/* Responsive button */
.btn {
transition: all 0.3s ease-in-out;
background-color: #57bce2
}

.btn:hover {
transform: scale(1.05);
background-color: #0056b3;
color: white;
}

.table th,
.table td {
text-align: center;
vertical-align: middle;
overflow: hidden;
white-space: nowrap;
}
