{% extends 'base.html' %}
{% load static %}
{% block title %}Engaged Apartments{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/calendar_app/engaged_apartments.css' %}">
{% endblock %}

{% block content %}
<h2 class="text-center m-4">📅 Engaged Apartments For ( {{ start_date }} to {{ end_date }} )</h2>

<!-- Date Filter Form -->
<div class="filter-form">
    <form method="GET">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
        
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">

        <button type="submit">Filter</button>
    </form>
</div>

<div class="table-container col-10 me-auto ms-auto">
    <div class="left-table">
        <table>
            <thead>
                <tr>
                    <th class="apartment-header">Apartments</th>
                </tr>
            </thead>
            <tbody>
                {% for data in apartment_data %}
                    <tr>
                        <td class="bg-gray">Apartment - {{ data.apartment.number }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="right-table"> 
        <table>
            <thead>
                <tr>
                    {% for day in date_range %}
                        <th>{{ day.day }}</th>  <!-- Display only day number -->
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in apartment_data %}
                <tr>
                    {% for cell in data.date_list %}
                        <td class="{% if cell.day %}engaged{% endif %}" title="{{ cell.day }}">
                            {% if cell.first_time %}
                                <span class="cell-text">{{ cell.first_time|slice:":10" }}{% if cell.first_time|length > 10 %}...{% endif %}</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}            
            </tbody>
        </table>
    </div>
</div>

{% block extra_scripts %}
<script src="{% static 'js/calendar_app/engaged_apartments.js' %}"></script>
{% endblock %}

{% endblock %}
